<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<div class="row">
    <table>
    <% row = 1 %>
    <% @dashboard.graphs.in_groups_of(@graph_columns) do |graphs| %>

        <tr>
        <% graphs.each do |graph| %>
            <td>
            <% if graph %>
                <% if graph[:graphite][:description] %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>' rel="<%= row == 1 ? 'popover-below' : 'popover-above' %>" title="<%= graph[:graphite][:title] %>" data-content="<%= graph[:graphite][:description] %>">
                <% else %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>'>
                <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% row += 1 %>
    <% end %>
    </table>
</div>

<div id="absolute_date" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>absolute date range</h3>
    </div>
    <div class="modal-body">
        <form action="<%= [@prefix, @params[:category], @params[:dash]].join('/') %>" method="GET">
            <fieldset>
                <div class="clearfix">
                    <label for="from_date">from:</label>
                    <div class="input">
                        <input type="text" name="from_date" id="from_date" maxlength="16" class="span3" placeholder="mm/dd/yyy hh:mm"/>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="to_date">to:</label>
                    <div class="input">
                        <input type="text" name="to_date" id="to_date" maxlength="16" class="span3" placeholder="mm/dd/yyy hh:mm"/>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="input">
                        <button type="submit" class="btn primary">show</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div id="relative_date" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>relativew date</h3>
    </div>
    <div class="modal-body">
        <form action="<%= [@prefix, @params[:category], @params[:dash]].join('/') %>" method="GET">
            <fieldset>
                <legend><h5></h5></legend>
                <div class="clearfix">
                    <label for="from_date">from now:</label>
                    <div class="input">
                        <input type="text" name="from_date" maxlength="4" class="mini"/>
                        <span class="help-block">X[s,min,h,d,w,mon,y] (e.g. 2mon)</span>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="input">
                        <button type="submit" class="btn primary">show</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    $(function () {
      $("img[rel=popover-above]")
        .popover({
          placement: "above", delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })

    $(function () {
      $("img[rel=popover-below]")
        .popover({
          placement: "below", delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })

    $(function() {
      $( "#from_date, #to_date" )
       .datetimepicker({formattedDate:'mm/dd/yy', formattedTime: 'hh:mm', seperator:'_'});
    });
</script>
<% end %>
